body{
    background-color: #141414;
}
.bread-crumb-set{
    position: relative;
    z-index: 10;
    top: 60px;
    display: flex;
    justify-content: center;
   
    /* padding-left:190px; */
}
.breadcrumb{
    background-color: rgb(222, 231, 233);
    width: 990px;
    border-radius: 8px;
    padding: 15px;
}
.content-1{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 10px;
}
.footer-box{
    position: relative;
    top: 40px;
    /* height: 100px; */
}
.image{
    box-shadow: 2px 2px 10px  rgba(255, 2555, 255, 0.9);
    width:400px; 
    height: 80vh; 
    border-radius: 10px;
    cursor: pointer;
}
.image:hover{
    
    transform: scale(1.1);
    transition: 0.5s linear;
}
